In [2]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib as mpl
%matplotlib inline

In [4]:
import seaborn as sns
sns.set(color_codes=True)

In [35]:
weed_pd = pd.read_csv("E:\\pyWork\\rough data\\Weed_Price.csv", parse_dates=[-1])
weed_pd

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date
0,Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01
1,Alaska,288.75,252,260.60,297,388.58,26,2014-01-01
2,Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01
3,Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01
5,Colorado,236.31,2161,195.29,1728,213.50,128,2014-01-01
6,Connecticut,347.90,1294,273.97,1316,257.36,91,2014-01-01
7,Delaware,373.18,347,226.25,273,199.88,34,2014-01-01
8,District of Columbia,352.26,433,295.67,349,213.72,39,2014-01-01
9,Florida,306.43,6506,220.03,5237,158.26,514,2014-01-01
10,Georgia,332.21,3099,213.52,2269,153.45,229,2014-01-01
11,Hawaii,310.96,328,270.38,350,160.46,25,2014-01-01
12,Idaho,276.05,315,254.96,445,132.61,20,2014-01-01
13,Illinois,359.74,4008,287.23,3644,181.25,329,2014-01-01
14,Indiana,336.80,1665,206.24,1446,154.05,248,2014-01-01
15,Iowa,371.70,697,292.34,649,252.24,103,2014-01-01
16,Kansas,353.51,838,260.97,628,124.27,109,2014-01-01
17,Kentucky,337.33,1013,183.17,986,120.31,132,2014-01-01
18,Louisiana,377.71,1071,243.26,864,153.73,224,2014-01-01
19,Maine,321.10,450,259.18,425,214.80,52,2014-01-01
20,Montana,279.73,585,257.98,258,734.65,22,2014-01-01
21,Nebraska,352.64,508,247.03,510,142.99,62,2014-01-01
22,Nevada,269.61,899,218.67,928,231.08,61,2014-01-01
23,New Hampshire,366.47,422,289.81,441,561.05,38,2014-01-01
24,New Jersey,354.91,2244,294.39,2799,225.62,185,2014-01-01
25,New Mexico,293.86,565,216.55,434,63.70,42,2014-01-01
26,New York,351.98,5800,268.88,5824,190.38,482,2014-01-01
27,North Carolina,355.88,2775,247.26,1911,152.09,226,2014-01-01
28,North Dakota,412.84,137,361.95,200,269.55,13,2014-01-01
29,Ohio,336.63,3050,212.44,2817,168.87,399,2014-01-01
...,...,...,...,...,...,...,...,...
22869,Nebraska,335.65,695,246.11,722,NaN,76,2014-12-31
22870,Nevada,266.33,1235,226.59,1431,NaN,78,2014-12-31
22871,New Hampshire,353.87,599,289.07,658,NaN,51,2014-12-31
22872,New Jersey,345.36,3056,286.58,4190,NaN,256,2014-12-31
22873,New Mexico,289.20,798,219.50,664,NaN,68,2014-12-31
22874,New York,343.89,7831,263.71,8703,NaN,616,2014-12-31
22875,North Carolina,345.28,4108,245.87,3030,NaN,314,2014-12-31
22876,North Dakota,393.94,213,339.60,327,NaN,23,2014-12-31
22877,Ohio,332.70,4240,218.90,4264,NaN,550,2014-12-31
22878,Oklahoma,354.61,1115,237.92,1072,NaN,195,2014-12-31
22879,Oregon,205.80,2178,180.87,2016,NaN,95,2014-12-31
22880,Maryland,366.04,2860,255.77,2460,NaN,193,2014-12-31
22881,Massachusetts,345.66,3999,285.96,3781,NaN,289,2014-12-31
22882,Michigan,288.10,3988,270.75,3725,NaN,295,2014-12-31
22883,Minnesota,351.60,2364,272.98,2465,NaN,128,2014-12-31
22884,Mississippi,334.70,611,150.39,549,NaN,143,2014-12-31
22885,Missouri,351.55,2216,245.14,2111,NaN,299,2014-12-31
22886,Pennsylvania,363.15,5516,269.63,4973,NaN,503,2014-12-31
22887,Rhode Island,317.15,721,259.16,559,NaN,47,2014-12-31
22888,South Carolina,336.98,1683,205.78,1412,NaN,163,2014-12-31
22889,South Dakota,357.05,222,348.81,256,NaN,25,2014-12-31
22890,Tennessee,348.95,2241,225.56,1910,NaN,219,2014-12-31
22891,Texas,334.18,8236,233.58,8573,NaN,1147,2014-12-31
22892,Utah,290.42,959,238.08,1055,NaN,62,2014-12-31
22893,Vermont,371.23,357,308.86,367,NaN,32,2014-12-31
22894,Virginia,364.98,3513,293.12,3079,NaN,284,2014-12-31
22895,Washington,233.05,3337,189.92,3562,NaN,160,2014-12-31
22896,West Virginia,359.35,551,224.03,545,NaN,60,2014-12-31
22897,Wisconsin,350.52,2244,272.71,2221,NaN,167,2014-12-31
22898,Wyoming,322.27,131,351.86,197,NaN,12,2014-12-31

In [36]:
weed_pd["month"] = weed_pd.date.apply(lambda x: x.month)

weed_pd["year"] = weed_pd.date.apply(lambda x: x.year)

In [37]:
weed_pd.head()

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date,month,year
0,Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01,1,2014
1,Alaska,288.75,252,260.60,297,388.58,26,2014-01-01,1,2014
2,Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01,1,2014
3,Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01,1,2014
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01,1,2014

In [27]:
weed_pd = pd.read_csv("E:\\pyWork\\rough data\\Weed_Price.csv")
weed_pd

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date
0,Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01
1,Alaska,288.75,252,260.60,297,388.58,26,2014-01-01
2,Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01
3,Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01
5,Colorado,236.31,2161,195.29,1728,213.50,128,2014-01-01
6,Connecticut,347.90,1294,273.97,1316,257.36,91,2014-01-01
7,Delaware,373.18,347,226.25,273,199.88,34,2014-01-01
8,District of Columbia,352.26,433,295.67,349,213.72,39,2014-01-01
9,Florida,306.43,6506,220.03,5237,158.26,514,2014-01-01
10,Georgia,332.21,3099,213.52,2269,153.45,229,2014-01-01
11,Hawaii,310.96,328,270.38,350,160.46,25,2014-01-01
12,Idaho,276.05,315,254.96,445,132.61,20,2014-01-01
13,Illinois,359.74,4008,287.23,3644,181.25,329,2014-01-01
14,Indiana,336.80,1665,206.24,1446,154.05,248,2014-01-01
15,Iowa,371.70,697,292.34,649,252.24,103,2014-01-01
16,Kansas,353.51,838,260.97,628,124.27,109,2014-01-01
17,Kentucky,337.33,1013,183.17,986,120.31,132,2014-01-01
18,Louisiana,377.71,1071,243.26,864,153.73,224,2014-01-01
19,Maine,321.10,450,259.18,425,214.80,52,2014-01-01
20,Montana,279.73,585,257.98,258,734.65,22,2014-01-01
21,Nebraska,352.64,508,247.03,510,142.99,62,2014-01-01
22,Nevada,269.61,899,218.67,928,231.08,61,2014-01-01
23,New Hampshire,366.47,422,289.81,441,561.05,38,2014-01-01
24,New Jersey,354.91,2244,294.39,2799,225.62,185,2014-01-01
25,New Mexico,293.86,565,216.55,434,63.70,42,2014-01-01
26,New York,351.98,5800,268.88,5824,190.38,482,2014-01-01
27,North Carolina,355.88,2775,247.26,1911,152.09,226,2014-01-01
28,North Dakota,412.84,137,361.95,200,269.55,13,2014-01-01
29,Ohio,336.63,3050,212.44,2817,168.87,399,2014-01-01
...,...,...,...,...,...,...,...,...
22869,Nebraska,335.65,695,246.11,722,NaN,76,2014-12-31
22870,Nevada,266.33,1235,226.59,1431,NaN,78,2014-12-31
22871,New Hampshire,353.87,599,289.07,658,NaN,51,2014-12-31
22872,New Jersey,345.36,3056,286.58,4190,NaN,256,2014-12-31
22873,New Mexico,289.20,798,219.50,664,NaN,68,2014-12-31
22874,New York,343.89,7831,263.71,8703,NaN,616,2014-12-31
22875,North Carolina,345.28,4108,245.87,3030,NaN,314,2014-12-31
22876,North Dakota,393.94,213,339.60,327,NaN,23,2014-12-31
22877,Ohio,332.70,4240,218.90,4264,NaN,550,2014-12-31
22878,Oklahoma,354.61,1115,237.92,1072,NaN,195,2014-12-31
22879,Oregon,205.80,2178,180.87,2016,NaN,95,2014-12-31
22880,Maryland,366.04,2860,255.77,2460,NaN,193,2014-12-31
22881,Massachusetts,345.66,3999,285.96,3781,NaN,289,2014-12-31
22882,Michigan,288.10,3988,270.75,3725,NaN,295,2014-12-31
22883,Minnesota,351.60,2364,272.98,2465,NaN,128,2014-12-31
22884,Mississippi,334.70,611,150.39,549,NaN,143,2014-12-31
22885,Missouri,351.55,2216,245.14,2111,NaN,299,2014-12-31
22886,Pennsylvania,363.15,5516,269.63,4973,NaN,503,2014-12-31
22887,Rhode Island,317.15,721,259.16,559,NaN,47,2014-12-31
22888,South Carolina,336.98,1683,205.78,1412,NaN,163,2014-12-31
22889,South Dakota,357.05,222,348.81,256,NaN,25,2014-12-31
22890,Tennessee,348.95,2241,225.56,1910,NaN,219,2014-12-31
22891,Texas,334.18,8236,233.58,8573,NaN,1147,2014-12-31
22892,Utah,290.42,959,238.08,1055,NaN,62,2014-12-31
22893,Vermont,371.23,357,308.86,367,NaN,32,2014-12-31
22894,Virginia,364.98,3513,293.12,3079,NaN,284,2014-12-31
22895,Washington,233.05,3337,189.92,3562,NaN,160,2014-12-31
22896,West Virginia,359.35,551,224.03,545,NaN,60,2014-12-31
22897,Wisconsin,350.52,2244,272.71,2221,NaN,167,2014-12-31
22898,Wyoming,322.27,131,351.86,197,NaN,12,2014-12-31

In [41]:
weed_ca_2014 = weed_pd[(weed_pd.State=="California") & (weed_pd.year==2014)]
weed_ca_2014

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date,month,year
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01,1,2014
106,California,248.20,12571,192.80,13406,191.94,804,2014-02-01,2,2014
208,California,247.60,12988,192.97,13906,191.40,839,2014-03-01,3,2014
259,California,246.76,13396,192.91,14527,191.98,863,2014-04-01,4,2014
310,California,246.04,13787,191.89,15047,191.40,891,2014-05-01,5,2014
361,California,245.71,14178,192.27,15588,190.06,930,2014-06-01,6,2014
463,California,245.39,14539,191.94,16092,188.57,949,2014-07-01,7,2014
514,California,245.36,14948,191.58,16665,188.03,976,2014-08-01,8,2014
565,California,245.11,15238,191.35,17060,NaN,995,2014-09-01,9,2014
616,California,245.05,15419,190.91,17373,NaN,1001,2014-10-01,10,2014
667,California,245.09,15688,191.04,17780,NaN,1023,2014-11-01,11,2014
718,California,244.36,16127,190.25,18472,NaN,1061,2014-12-01,12,2014
769,California,248.67,12125,193.56,12836,192.80,779,2014-01-02,1,2014
871,California,248.21,12580,192.73,13424,191.70,805,2014-02-02,2,2014
973,California,247.57,12999,193.02,13926,192.20,841,2014-03-02,3,2014
1024,California,246.72,13413,192.95,14541,191.96,864,2014-04-02,4,2014
1075,California,246.06,13803,191.86,15059,191.24,892,2014-05-02,5,2014
1126,California,245.77,14190,192.22,15608,190.06,930,2014-06-02,6,2014
1228,California,245.38,14558,192.02,16109,188.57,949,2014-07-02,7,2014
1279,California,245.09,15245,191.34,17065,NaN,995,2014-09-02,9,2014
1330,California,245.01,15433,190.92,17380,NaN,1002,2014-10-02,10,2014
1381,California,245.11,15709,190.96,17796,NaN,1026,2014-11-02,11,2014
1432,California,244.36,16133,190.24,18498,NaN,1063,2014-12-02,12,2014
1483,California,248.67,12141,193.57,12853,192.67,782,2014-01-03,1,2014
1585,California,248.28,12602,192.78,13447,191.54,806,2014-02-03,2,2014
1687,California,247.45,13022,192.98,13940,192.20,841,2014-03-03,3,2014
1738,California,246.61,13423,192.96,14566,191.96,864,2014-04-03,4,2014
1789,California,246.06,13816,191.84,15079,191.62,897,2014-05-03,5,2014
1840,California,245.79,14202,192.22,15626,190.06,930,2014-06-03,6,2014
1942,California,245.40,14571,192.02,16122,189.44,951,2014-07-03,7,2014
...,...,...,...,...,...,...,...,...,...,...
20914,California,244.05,16474,189.42,19085,NaN,1093,2014-12-28,12,2014
20965,California,248.23,12530,192.91,13355,192.24,802,2014-01-29,1,2014
21067,California,246.82,13359,192.99,14457,192.06,862,2014-03-29,3,2014
21118,California,246.07,13756,191.86,15019,191.64,889,2014-04-29,4,2014
21169,California,245.66,14134,192.29,15533,190.59,924,2014-05-29,5,2014
21271,California,245.37,14511,191.98,16054,188.67,948,2014-06-29,6,2014
21322,California,245.40,14915,191.56,16603,188.48,972,2014-07-29,7,2014
21373,California,245.11,15218,191.39,17028,NaN,995,2014-08-29,8,2014
21424,California,245.00,15402,191.03,17343,NaN,1001,2014-09-29,9,2014
21475,California,245.08,15643,190.98,17718,NaN,1014,2014-10-29,10,2014
21526,California,244.48,16090,190.26,18435,NaN,1060,2014-11-29,11,2014
21628,California,244.00,16484,189.41,19107,NaN,1093,2014-12-29,12,2014
21679,California,248.28,12544,192.86,13374,192.01,803,2014-01-30,1,2014
21781,California,246.83,13371,193.02,14480,192.06,862,2014-03-30,3,2014
21832,California,246.05,13770,191.90,15029,191.55,890,2014-04-30,4,2014
21883,California,245.66,14146,192.25,15544,190.34,926,2014-05-30,5,2014
21985,California,245.40,14525,191.95,16073,188.57,949,2014-06-30,6,2014
22036,California,245.37,14926,191.57,16621,188.12,975,2014-07-30,7,2014
22087,California,245.12,15224,191.38,17038,NaN,995,2014-08-30,8,2014
22138,California,245.01,15410,190.98,17357,NaN,1001,2014-09-30,9,2014
22189,California,245.09,15659,191.01,17738,NaN,1021,2014-10-30,10,2014
22240,California,244.43,16102,190.26,18452,NaN,1061,2014-11-30,11,2014
22342,California,243.98,16492,189.37,19124,NaN,1093,2014-12-30,12,2014
22393,California,248.23,12559,192.82,13391,191.94,804,2014-01-31,1,2014
22495,California,246.83,13383,193.01,14501,191.98,863,2014-03-31,3,2014
22546,California,245.68,14157,192.26,15561,190.01,929,2014-05-31,5,2014
22648,California,245.39,14928,191.61,16635,188.12,975,2014-07-31,7,2014
22699,California,245.11,15234,191.36,17049,NaN,995,2014-08-31,8,2014
22750,California,245.13,15667,191.03,17758,NaN,1023,2014-10-31,10,2014
22852,California,243.96,16501,189.38,19140,NaN,1094,2014-12-31,12,2014

In [42]:
weed_pd

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date,month,year
0,Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01,1,2014
1,Alaska,288.75,252,260.60,297,388.58,26,2014-01-01,1,2014
2,Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01,1,2014
3,Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01,1,2014
4,California,248.78,12096,193.56,12812,192.92,778,2014-01-01,1,2014
5,Colorado,236.31,2161,195.29,1728,213.50,128,2014-01-01,1,2014
6,Connecticut,347.90,1294,273.97,1316,257.36,91,2014-01-01,1,2014
7,Delaware,373.18,347,226.25,273,199.88,34,2014-01-01,1,2014
8,District of Columbia,352.26,433,295.67,349,213.72,39,2014-01-01,1,2014
9,Florida,306.43,6506,220.03,5237,158.26,514,2014-01-01,1,2014
10,Georgia,332.21,3099,213.52,2269,153.45,229,2014-01-01,1,2014
11,Hawaii,310.96,328,270.38,350,160.46,25,2014-01-01,1,2014
12,Idaho,276.05,315,254.96,445,132.61,20,2014-01-01,1,2014
13,Illinois,359.74,4008,287.23,3644,181.25,329,2014-01-01,1,2014
14,Indiana,336.80,1665,206.24,1446,154.05,248,2014-01-01,1,2014
15,Iowa,371.70,697,292.34,649,252.24,103,2014-01-01,1,2014
16,Kansas,353.51,838,260.97,628,124.27,109,2014-01-01,1,2014
17,Kentucky,337.33,1013,183.17,986,120.31,132,2014-01-01,1,2014
18,Louisiana,377.71,1071,243.26,864,153.73,224,2014-01-01,1,2014
19,Maine,321.10,450,259.18,425,214.80,52,2014-01-01,1,2014
20,Montana,279.73,585,257.98,258,734.65,22,2014-01-01,1,2014
21,Nebraska,352.64,508,247.03,510,142.99,62,2014-01-01,1,2014
22,Nevada,269.61,899,218.67,928,231.08,61,2014-01-01,1,2014
23,New Hampshire,366.47,422,289.81,441,561.05,38,2014-01-01,1,2014
24,New Jersey,354.91,2244,294.39,2799,225.62,185,2014-01-01,1,2014
25,New Mexico,293.86,565,216.55,434,63.70,42,2014-01-01,1,2014
26,New York,351.98,5800,268.88,5824,190.38,482,2014-01-01,1,2014
27,North Carolina,355.88,2775,247.26,1911,152.09,226,2014-01-01,1,2014
28,North Dakota,412.84,137,361.95,200,269.55,13,2014-01-01,1,2014
29,Ohio,336.63,3050,212.44,2817,168.87,399,2014-01-01,1,2014
...,...,...,...,...,...,...,...,...,...,...
22869,Nebraska,335.65,695,246.11,722,NaN,76,2014-12-31,12,2014
22870,Nevada,266.33,1235,226.59,1431,NaN,78,2014-12-31,12,2014
22871,New Hampshire,353.87,599,289.07,658,NaN,51,2014-12-31,12,2014
22872,New Jersey,345.36,3056,286.58,4190,NaN,256,2014-12-31,12,2014
22873,New Mexico,289.20,798,219.50,664,NaN,68,2014-12-31,12,2014
22874,New York,343.89,7831,263.71,8703,NaN,616,2014-12-31,12,2014
22875,North Carolina,345.28,4108,245.87,3030,NaN,314,2014-12-31,12,2014
22876,North Dakota,393.94,213,339.60,327,NaN,23,2014-12-31,12,2014
22877,Ohio,332.70,4240,218.90,4264,NaN,550,2014-12-31,12,2014
22878,Oklahoma,354.61,1115,237.92,1072,NaN,195,2014-12-31,12,2014
22879,Oregon,205.80,2178,180.87,2016,NaN,95,2014-12-31,12,2014
22880,Maryland,366.04,2860,255.77,2460,NaN,193,2014-12-31,12,2014
22881,Massachusetts,345.66,3999,285.96,3781,NaN,289,2014-12-31,12,2014
22882,Michigan,288.10,3988,270.75,3725,NaN,295,2014-12-31,12,2014
22883,Minnesota,351.60,2364,272.98,2465,NaN,128,2014-12-31,12,2014
22884,Mississippi,334.70,611,150.39,549,NaN,143,2014-12-31,12,2014
22885,Missouri,351.55,2216,245.14,2111,NaN,299,2014-12-31,12,2014
22886,Pennsylvania,363.15,5516,269.63,4973,NaN,503,2014-12-31,12,2014
22887,Rhode Island,317.15,721,259.16,559,NaN,47,2014-12-31,12,2014
22888,South Carolina,336.98,1683,205.78,1412,NaN,163,2014-12-31,12,2014
22889,South Dakota,357.05,222,348.81,256,NaN,25,2014-12-31,12,2014
22890,Tennessee,348.95,2241,225.56,1910,NaN,219,2014-12-31,12,2014
22891,Texas,334.18,8236,233.58,8573,NaN,1147,2014-12-31,12,2014
22892,Utah,290.42,959,238.08,1055,NaN,62,2014-12-31,12,2014
22893,Vermont,371.23,357,308.86,367,NaN,32,2014-12-31,12,2014
22894,Virginia,364.98,3513,293.12,3079,NaN,284,2014-12-31,12,2014
22895,Washington,233.05,3337,189.92,3562,NaN,160,2014-12-31,12,2014
22896,West Virginia,359.35,551,224.03,545,NaN,60,2014-12-31,12,2014
22897,Wisconsin,350.52,2244,272.71,2221,NaN,167,2014-12-31,12,2014
22898,Wyoming,322.27,131,351.86,197,NaN,12,2014-12-31,12,2014

In [46]:
print ("Mean:", weed_ca_2014.HighQ.mean())
print ("standard Deviation:", weed_ca_2014.HighQ.std())

Mean: 245.8942307692309
standard Deviation: 1.289907939371412

In [49]:
stats.norm.interval(0.95, loc=weed_ca_2014.HighQ.mean(), scale = weed_ca_2014.HighQ.std()/np.sqrt(len(weed_ca_2014)))

(245.761718492726, 246.02674304573577)

In [62]:
weed_ca_jan2014 = np.array(weed_pd[(weed_pd.State=="California") & (weed_pd.year==2014) & (weed_pd.month==1)].HighQ)
weed_ca_jan2015 = np.array(weed_pd[(weed_pd.State=="California") & (weed_pd.year==2015) & (weed_pd.month==1)].HighQ)

In [63]:
print ("Mean-2014 Jan:", weed_ca_jan2014.mean())
print ("Mean-2015 Jan:", weed_ca_jan2015.mean())

Mean-2014 Jan: 248.4454838709677
Mean-2015 Jan: 243.60225806451612

In [65]:
print ("Effect size:", weed_ca_jan2014.mean() - weed_ca_jan2015.mean())

Effect size: 4.843225806451585

In [66]:
stats.ttest_ind(weed_ca_jan2014, weed_ca_jan2015, equal_var=True)

Ttest_indResult(statistic=98.01132523815805, pvalue=6.297971818508403e-68)